<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ welcome }}</h1>
    <p>Mislim da bi trebali krenuti od toga da lijepo rasporedimo po URL-u</p><br>
    <p>npr /home/ i da napravimo poseban app (django startapp) HOME sa kojim</p><br>
    <p>onda ispisujemo sati za tog usera itd...</p>
</body>
</html>